@import '../../theme/variables';

.app {
	nav :global(.fa) {
		font-size: 2em;
		line-height: 20px;
	}


}

.appContent {
	:global(.container) {
		padding-left: $left-margin;
		max-width: $large-size - $left-margin;
	}
}
